.login-container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-container .content {
    min-width: 500px;
    padding: 96px;
    margin-bottom: 24px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    align-items: top;
}

.login-container section.form {
    width: 100%;
    max-width: 350px;
}

.login-container section.form img {
    margin-left: -55px;
}

.login-container section.form form {
    margin-top: 30px;
}

.login-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.login-container section.form form input {
    margin-top: 8px;
}