.recipe-container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.recipe-container .content {
    width: 100%;
    padding: 96px;
    margin-bottom: 24px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    align-items: top;
}

.recipe-container .content2 {
    width: 100%;
    margin-bottom: 12px;
    padding: 24px;
    background: #F0F0F5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    align-items: top;
}

.recipe-container .content section {
    width: 100%;
}

.recipe-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.recipe-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.recipe-container .content .display-group {
    display: flex;
}

.recipe-container .content .display-group .title{
    width: 50%;
}

.recipe-container .content2 section {
    width: 100%;
}

.recipe-container .content2 section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.recipe-container .content2 section p {
    font-size: 16px;
    color: #737380;
    line-height: 28px;
}

.recipe-container .content2 .display-group {
    display: flex;
}

.recipe-container .content2 .display-group .main {
    width: 75%;
}

.recipe-container .content2 .display-group .second {
    width: 25%;
}

.identacao {
    margin-top: 12px;
}