.converter-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.converter-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.converter-container section.form form {
    margin-top: 30px;
}

.converter-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
    padding-left: 20px;
}

.converter-container section.form form input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.converter-container section.form form select-items {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}



